<html>
	<head>
		<title>Synckr</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/datepicker.css">
		<% if (theme === "light") { %>
			<link rel="stylesheet" href="/css/new-light.css">
		<% } else { %>
			<link rel="stylesheet" href="/css/new-dark.css">
		<% } %>
	</head>
	<body>
		<div id="placeholder">
			<div id="navbar">
				<div id="nav-left"><a href="/events">Cancel</a></div>
				<div id="nav-middle">New</div>
				<div id="nav-right">Done</div>
			</div>
			<form id="mainform" method="post" action="/events">
				<fieldset class="field" id="title-form">
					<input type="text" name="title" placeholder="Title"/>
					<input type="text" name="description" placeholder="Description"/>
				</fieldset>
				<fieldset class="field" id="date-form">
					Available Range
					<div id="startdate">
						<div class="dates" id="st-text">
							Start Date
						</div>
						<div class="dates">
							<input id="st-date" readonly/>
							<input id="start-date" name="startDate" type="hidden"/>
						</div>
					</div>
					<div id="enddate">
						<div class="dates" id="en-text">
							End Date
						</div>
						<div class="dates">
							<input id="en-date" readonly/>
							<input id="end-date" name="endDate" type="hidden"/>
						</div>
					</div>
				</fieldset>
				<fieldset class="field" id="deadline-form">
					<div id="deadlinedate">
						<div class="dates" id="de-text">
              Deadline
						</div>
						<div class="dates">
							<input id="de-date" readonly/>
							<input id="deadline-date" name="deadline" type="hidden"/>
						</div>
					</div>

				</fieldset>
				<fieldset class="field" id="dur-form">
					<div id="duration">
						<div class="dur" id="dur-text">
							Duration
						</div>
						<div class="dur" id="dur-hr">
							<select name="duration-hr" id="duration-hr" placeholder="hr">
								<option>hr</option>
								<option>1hr</option>
								<option>2hr</option>
								<option>3hr</option>
							</select>
						</div>
						<div class="dur" id="dur-min">
							<select name="duration-min" id="duration-min" placeholder="min">
								<option>min</option>
								<option>00min</option>
								<option>30min</option>
							</select>
						</div>
					</div>
				</fieldset>
				<fieldset class="field" id="invite-form">
					<input name="participants" placeholder="Invitees" readonly/>
					<div class="invitees">
					</div>
				</fieldset>
			</form>
		</div>
		<div id="friendList">
			<div id="navbar">
				<div id="nav-left"><a href="#" id="back-new">Cancel</a></div>
				<div id="nav-middle">Invite Friends</div>
				<div id="nav-right"><a href="#" id="ok-new">Done</a></div>
			</div>
			<div id="search-bar">
				<input type="search" placeholder="Search">
			</div>
			<div id="list">
				<div class="friends">
					<div class="friend-intro friend-check">
						<input type="checkbox" value="img1" id="check-img1" class="friend-box"/>
					</div>
					<div class="friend-intro friend-pic">
						<img id="img1" src="/images/profile1.jpg" width="30px" height="30px"/>
					</div>
					<div class="friend-intro friend-name">
						<p>Jocelin Ho</br></p>
					</div>
				</div>
				<div class="friends">
					<div class="friend-intro friend-check">
						<input type="checkbox" value="img2" id="check-img2" class="friend-box"/>
					</div>
					<div class="friend-intro friend-pic">
						<img id="img2" src="/images/profile2.jpg" width="30px" height="30px"/>
					</div>
					<div class="friend-intro friend-name">
						<p>Andrew Liu</br></p>
					</div>
				</div>
				<div class="friends">
					<div class="friend-intro friend-check">
						<input type="checkbox" value="img3" id="check-img3" class="friend-box"/>
					</div>
					<div class="friend-intro friend-pic">
						<img id="img3" src="/images/profile3.jpg" width="30px" height="30px"/>
					</div>
					<div class="friend-intro friend-name">
						<p>ChenTai Kao</br></p>
					</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-datepicker.js"></script>
		<script src="/js/new.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-48536015-1', 'synckr.com');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
