/* line 9, synckr.scss */
#placeholder {
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  height: 100%;
}

/* line 18, synckr.scss */
#navbar {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  font-weight: normal;
  border-bottom: 1px solid #aaaaaa;
  height: 40px;
  line-height: 40px;
}

/* line 27, synckr.scss */
#nav-left {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 15px;
}

/* line 34, synckr.scss */
#nav-middle {
  text-align: center;
}

/* line 38, synckr.scss */
#nav-right {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 15px;
}

/* line 45, synckr.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 50, synckr.scss */
a:hover {
  text-decoration: none;
  color: black;
}

/* line 11, calendar.scss */
#placeholder, #pane {
  height: 100%;
  overflow: hidden;
}

/* line 16, calendar.scss */
#day-bar, .grid-row, #scroll-pane, #grid-holder {
  overflow: hidden;
  *zoom: 1;
}

/* line 20, calendar.scss */
#scroll-pane {
  height: 100%;
  padding-bottom: 100px;
  overflow-y: scroll;
}

/* line 26, calendar.scss */
#day-bar {
  margin-top: 30px;
  height: 30px;
}

/* line 31, calendar.scss */
#overlay-toggle {
  float: left;
  text-align: center;
  width: 15%;
}

/* line 37, calendar.scss */
#handle-bar, #grid-holder {
  float: left;
}

/* line 41, calendar.scss */
#handle-bar {
  margin-top: -5px;
  padding-right: 5px;
  width: 15%;
}

/* line 47, calendar.scss */
.handle, .grid {
  height: 40px;
}

/* line 51, calendar.scss */
.handle {
  line-height: 40px;
  text-align: right;
}

/* line 56, calendar.scss */
.day {
  float: left;
  text-align: center;
  width: 17%;
}

/* line 62, calendar.scss */
#grid-holder {
  width: 85%;
  position: relative;
}

/* line 67, calendar.scss */
.grid-column {
  position: relative;
  float: left;
  width: 20%;
}

/* line 73, calendar.scss */
.grid {
  text-align: center;
}

/* line 77, calendar.scss */
.hour {
  box-sizing: border-box;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

/* line 83, calendar.scss */
.hour:first-of-type, .hour:last-of-type {
  height: 15px;
}

/* line 87, calendar.scss */
.hour:last-child {
  border-bottom: none;
}

/* line 91, calendar.scss */
.grid-column:last-child div {
  border-right: none;
}

/* line 95, calendar.scss */
.slot {
  position: absolute;
  left: 0;
  width: 100%;
}

/* line 101, calendar.scss */
.draw {
  background-color: #1ad6ad;
  opacity: 0.5;
}

/* line 107, calendar.scss */
.heatmap-1 {
  background-color: rgba(145, 145, 145, 0.5);
}

/* line 107, calendar.scss */
.heatmap-2 {
  background-color: rgba(94, 94, 94, 0.5);
}

/* line 107, calendar.scss */
.heatmap-3 {
  background-color: rgba(43, 43, 43, 0.5);
}

/* line 107, calendar.scss */
.heatmap-4 {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 107, calendar.scss */
.heatmap-5 {
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 113, calendar.scss */
.gridtop-1 {
  top: 15px;
}

/* line 113, calendar.scss */
.gridtop-2 {
  top: 35px;
}

/* line 113, calendar.scss */
.gridtop-3 {
  top: 55px;
}

/* line 113, calendar.scss */
.gridtop-4 {
  top: 75px;
}

/* line 113, calendar.scss */
.gridtop-5 {
  top: 95px;
}

/* line 113, calendar.scss */
.gridtop-6 {
  top: 115px;
}

/* line 113, calendar.scss */
.gridtop-7 {
  top: 135px;
}

/* line 113, calendar.scss */
.gridtop-8 {
  top: 155px;
}

/* line 113, calendar.scss */
.gridtop-9 {
  top: 175px;
}

/* line 113, calendar.scss */
.gridtop-10 {
  top: 195px;
}

/* line 113, calendar.scss */
.gridtop-11 {
  top: 215px;
}

/* line 113, calendar.scss */
.gridtop-12 {
  top: 235px;
}

/* line 113, calendar.scss */
.gridtop-13 {
  top: 255px;
}

/* line 113, calendar.scss */
.gridtop-14 {
  top: 275px;
}

/* line 113, calendar.scss */
.gridtop-15 {
  top: 295px;
}

/* line 113, calendar.scss */
.gridtop-16 {
  top: 315px;
}

/* line 113, calendar.scss */
.gridtop-17 {
  top: 335px;
}

/* line 113, calendar.scss */
.gridtop-18 {
  top: 355px;
}

/* line 113, calendar.scss */
.gridtop-19 {
  top: 375px;
}

/* line 113, calendar.scss */
.gridtop-20 {
  top: 395px;
}

/* line 113, calendar.scss */
.gridtop-21 {
  top: 415px;
}

/* line 113, calendar.scss */
.gridtop-22 {
  top: 435px;
}

/* line 113, calendar.scss */
.gridtop-23 {
  top: 455px;
}

/* line 113, calendar.scss */
.gridtop-24 {
  top: 475px;
}

/* line 113, calendar.scss */
.gridtop-25 {
  top: 495px;
}

/* line 113, calendar.scss */
.gridtop-26 {
  top: 515px;
}

/* line 113, calendar.scss */
.gridtop-27 {
  top: 535px;
}

/* line 113, calendar.scss */
.gridtop-28 {
  top: 555px;
}

/* line 113, calendar.scss */
.gridtop-29 {
  top: 575px;
}

/* line 113, calendar.scss */
.gridtop-30 {
  top: 595px;
}

/* line 113, calendar.scss */
.gridtop-31 {
  top: 615px;
}

/* line 113, calendar.scss */
.gridtop-32 {
  top: 635px;
}

/* line 113, calendar.scss */
.gridtop-33 {
  top: 655px;
}

/* line 113, calendar.scss */
.gridtop-34 {
  top: 675px;
}

/* line 113, calendar.scss */
.gridtop-35 {
  top: 695px;
}

/* line 113, calendar.scss */
.gridtop-36 {
  top: 715px;
}

/* line 113, calendar.scss */
.gridtop-37 {
  top: 735px;
}

/* line 113, calendar.scss */
.gridtop-38 {
  top: 755px;
}

/* line 113, calendar.scss */
.gridtop-39 {
  top: 775px;
}

/* line 113, calendar.scss */
.gridtop-40 {
  top: 795px;
}

/* line 113, calendar.scss */
.gridtop-41 {
  top: 815px;
}

/* line 113, calendar.scss */
.gridtop-42 {
  top: 835px;
}

/* line 113, calendar.scss */
.gridtop-43 {
  top: 855px;
}

/* line 113, calendar.scss */
.gridtop-44 {
  top: 875px;
}

/* line 113, calendar.scss */
.gridtop-45 {
  top: 895px;
}

/* line 113, calendar.scss */
.gridtop-46 {
  top: 915px;
}

/* line 113, calendar.scss */
.gridtop-47 {
  top: 935px;
}

/* line 113, calendar.scss */
.gridtop-48 {
  top: 955px;
}

/* line 113, calendar.scss */
.gridtop-49 {
  top: 975px;
}

/* line 113, calendar.scss */
.gridtop-50 {
  top: 995px;
}

/* line 119, calendar.scss */
.gridheight-1 {
  height: 20px;
}

/* line 119, calendar.scss */
.gridheight-2 {
  height: 40px;
}

/* line 119, calendar.scss */
.gridheight-3 {
  height: 60px;
}

/* line 119, calendar.scss */
.gridheight-4 {
  height: 80px;
}

/* line 119, calendar.scss */
.gridheight-5 {
  height: 100px;
}

/* line 119, calendar.scss */
.gridheight-6 {
  height: 120px;
}

/* line 119, calendar.scss */
.gridheight-7 {
  height: 140px;
}

/* line 119, calendar.scss */
.gridheight-8 {
  height: 160px;
}

/* line 119, calendar.scss */
.gridheight-9 {
  height: 180px;
}

/* line 119, calendar.scss */
.gridheight-10 {
  height: 200px;
}

/* line 119, calendar.scss */
.gridheight-11 {
  height: 220px;
}

/* line 119, calendar.scss */
.gridheight-12 {
  height: 240px;
}

/* line 119, calendar.scss */
.gridheight-13 {
  height: 260px;
}

/* line 119, calendar.scss */
.gridheight-14 {
  height: 280px;
}

/* line 119, calendar.scss */
.gridheight-15 {
  height: 300px;
}

/* line 119, calendar.scss */
.gridheight-16 {
  height: 320px;
}

/* line 119, calendar.scss */
.gridheight-17 {
  height: 340px;
}

/* line 119, calendar.scss */
.gridheight-18 {
  height: 360px;
}

/* line 119, calendar.scss */
.gridheight-19 {
  height: 380px;
}

/* line 119, calendar.scss */
.gridheight-20 {
  height: 400px;
}

/* line 119, calendar.scss */
.gridheight-21 {
  height: 420px;
}

/* line 119, calendar.scss */
.gridheight-22 {
  height: 440px;
}

/* line 119, calendar.scss */
.gridheight-23 {
  height: 460px;
}

/* line 119, calendar.scss */
.gridheight-24 {
  height: 480px;
}

/* line 119, calendar.scss */
.gridheight-25 {
  height: 500px;
}

/* line 119, calendar.scss */
.gridheight-26 {
  height: 520px;
}

/* line 119, calendar.scss */
.gridheight-27 {
  height: 540px;
}

/* line 119, calendar.scss */
.gridheight-28 {
  height: 560px;
}

/* line 119, calendar.scss */
.gridheight-29 {
  height: 580px;
}

/* line 119, calendar.scss */
.gridheight-30 {
  height: 600px;
}

/* line 119, calendar.scss */
.gridheight-31 {
  height: 620px;
}

/* line 119, calendar.scss */
.gridheight-32 {
  height: 640px;
}

/* line 119, calendar.scss */
.gridheight-33 {
  height: 660px;
}

/* line 119, calendar.scss */
.gridheight-34 {
  height: 680px;
}

/* line 119, calendar.scss */
.gridheight-35 {
  height: 700px;
}

/* line 119, calendar.scss */
.gridheight-36 {
  height: 720px;
}

/* line 119, calendar.scss */
.gridheight-37 {
  height: 740px;
}

/* line 119, calendar.scss */
.gridheight-38 {
  height: 760px;
}

/* line 119, calendar.scss */
.gridheight-39 {
  height: 780px;
}

/* line 119, calendar.scss */
.gridheight-40 {
  height: 800px;
}

/* line 119, calendar.scss */
.gridheight-41 {
  height: 820px;
}

/* line 119, calendar.scss */
.gridheight-42 {
  height: 840px;
}

/* line 119, calendar.scss */
.gridheight-43 {
  height: 860px;
}

/* line 119, calendar.scss */
.gridheight-44 {
  height: 880px;
}

/* line 119, calendar.scss */
.gridheight-45 {
  height: 900px;
}

/* line 119, calendar.scss */
.gridheight-46 {
  height: 920px;
}

/* line 119, calendar.scss */
.gridheight-47 {
  height: 940px;
}

/* line 119, calendar.scss */
.gridheight-48 {
  height: 960px;
}

/* line 119, calendar.scss */
.gridheight-49 {
  height: 980px;
}

/* line 119, calendar.scss */
.gridheight-50 {
  height: 1000px;
}
