@import "compass/css3/box";
@import "synckr.scss";

$row-height: 40px;
$first-end-height: 15px;
$day-bar-height: 30px;
$navbar-top-margin: 30px;

#placeholder, #pane {
	height: 100%;
	overflow: hidden;
}

#day-bar, .grid-row, #scroll-pane, #grid-holder {
	@include clearfix;
}

#scroll-pane {
	height: 100%;
	padding-bottom: $navbar-top-margin + $day-bar-height + $navbar-margin;
	overflow-y: scroll;
}

#day-bar {
	margin-top: $navbar-top-margin;
	height: $day-bar-height;
}

#overlay-toggle {
	float: left;
	text-align: center;
	width: 15%;
}

#handle-bar, #grid-holder {
	float: left;
}

#handle-bar {
	margin-top: $first-end-height - $row-height / 2;
	padding-right: 5px;
	width: 15%;
}

.handle, .grid {
	height: $row-height;
}

.handle {
	line-height: $row-height;
	text-align: right;
}

.day {
	float: left;
	text-align: center;
	width: 17%;
}

#grid-holder {
	width: 85%;
}

.grid-column {
	position: relative;
	float: left;
	width: 20%;
}

.grid {
	text-align: center;
}

.hour {
	box-sizing: border-box;
	border-right: 1px solid $line-color;
	border-bottom: 1px solid $line-color;
}

.hour:first-of-type, .hour:last-of-type {
	height: $first-end-height;
}

.hour:last-child {
	border-bottom: none;
}

.grid-column:last-child div {
	border-right: none;
}

.slot {
	position: absolute;
	left: 0;
	width: 100%;
}

@for $i from 1 through 5 {
	.heatmap-#{$i} {
		background-color: darken(rgba(196,196,196,0.5), 20% * $i);
	}
}

@for $i from 1 through 12 {
	.gridtop-#{$i} {
		top: $row-height / 2 * $i + $first-end-height;
	}
}

@for $i from 1 through 12 {
	.gridheight-#{$i} {
		height: $row-height / 2 * $i;
	}
}