@import "compass/css3/box";
@import "synckr.scss";

$row-height: 40px;

#day-bar, .grid-row, #scroll-pane, #grid-holder {
	@include clearfix;
}

#day-bar {
	margin-top: 30px;
}

#overlay-toggle {
	float: left;
	text-align: center;
	width: 15%;
}

#handle-bar, #grid-holder {
	float: left;
}

#handle-bar {
	margin-top: $row-height / 2;
	padding-right: 5px;
	width: 15%;
}

.handle, .grid {
	height: $row-height;
}

.handle {
	line-height: $row-height;
	text-align: right;
}

.day {
	float: left;
	text-align: center;
	width: 17%;
}

#grid-holder {
	width: 85%;
}

.grid-column {
	float: left;
	width: 20%;
}

.grid {
	text-align: center;
}

.hour {
	box-sizing: border-box;
	border-right: 1px solid $line-color;
	border-bottom: 1px solid $line-color;
}

.hour:last-child {
	border-bottom: none;
}

.grid-column:last-child div {
	border-right: none;
}
