/* line 5, synckr.scss */
#placeholder {
  width: 100%;
  font-size: 25px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

/* line 12, synckr.scss */
#navbar {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

/* line 17, synckr.scss */
#nav-left {
  position: absolute;
  top: 0;
  left: 30px;
}

/* line 23, synckr.scss */
#nav-middle {
  text-align: center;
}

/* line 27, synckr.scss */
#nav-right {
  position: absolute;
  top: 0;
  right: 30px;
}

/* line 4, list.scss */
.event {
  min-height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  border-top: 1px solid #aaa;
  padding: 0 30px;
}

/* line 12, list.scss */
.event:last-child {
  border-bottom: 1px solid #aaa;
}
