/* line 13, synckr-light.scss */
#placeholder {
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 23, synckr-light.scss */
#navbar {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  background-color: rgba(52, 170, 220, 0.7);
  color: white;
}

/* line 35, synckr-light.scss */
#nav-left {
  position: absolute;
  top: 0;
  left: 12.5px;
  font-size: 15px;
}

/* line 42, synckr-light.scss */
#nav-middle {
  text-align: center;
}

/* line 46, synckr-light.scss */
#nav-right {
  position: absolute;
  top: 0;
  right: 12.5px;
  font-size: 15px;
}

/* line 53, synckr-light.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 58, synckr-light.scss */
a:hover {
  text-decoration: none;
  color: black;
}

/* line 63, synckr-light.scss */
#navbar a {
  color: white;
}

/* line 66, synckr-light.scss */
#navbar a:hover {
  color: white;
}

/* line 13, list-light.scss */
.out-event {
  min-height: 80px;
  width: 100%;
  border-bottom: 1px solid #aaa;
  padding: 0 25px;
  background-color: white;
}

/* line 21, list-light.scss */
.out-event a {
  color: #052d6e;
}

/* line 25, list-light.scss */
.not-decided {
  background-color: rgba(255, 149, 0, 0.4);
}

/* line 28, list-light.scss */
.not-voted {
  background-color: rgba(255, 149, 0, 0.4);
}

/* line 32, list-light.scss */
.event {
  min-height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}

/* line 40, list-light.scss */
.event-title {
  width: 60%;
}

/* line 44, list-light.scss */
.event-info {
  position: relative;
  width: 40%;
  line-height: 80px;
  min-height: 80px;
  font-size: 18px;
}

/* line 51, list-light.scss */
.arrow {
  width: 5%;
  display: none;
  margin-left: 10px;
}

/* line 56, list-light.scss */
.arrow-move {
  display: block;
}

/* line 59, list-light.scss */
.not-decided .arrow, .not-voted .arrow {
  display: block;
}

/* line 63, list-light.scss */
.event-deadline {
  position: absolute;
  left: 0;
  height: 50%;
  width: 100%;
  line-height: 40px;
}

/* line 70, list-light.scss */
.event-people {
  position: absolute;
  left: 0;
  height: 50%;
  width: 100%;
  top: 50%;
  line-height: 40px;
}

/* line 78, list-light.scss */
.event-people img {
  width: 30px;
  margin: 0 0 0 -5px;
}

/* line 82, list-light.scss */
#nav-right {
  font-size: 30px;
  font-weight: 200;
  line-height: 30px;
}

/* line 88, list-light.scss */
#user-info {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  background-color: rgba(52, 170, 220, 0.7);
  color: white;
}

/* line 98, list-light.scss */
#user-pic {
  width: 14%;
  float: left;
}

/* line 102, list-light.scss */
#user-name {
  width: 86%;
  float: left;
}

/* line 107, list-light.scss */
.cancel-icon {
  display: none;
}

/* line 112, list-light.scss */
.cancel-icon-move {
  margin: 0 25px 0 0;
  display: block;
  width: 5%;
  float: left;
  height: 80px;
  padding-top: 30px;
}

/* line 121, list-light.scss */
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 128, list-light.scss */
#list {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 40px;
  bottom: 30px;
  width: 100%;
}
