/* line 20, synckr.scss */
#placeholder {
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 30, synckr.scss */
#navbar {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  background-color: #2d3f53;
  color: white;
}

/* line 42, synckr.scss */
#nav-left {
  position: absolute;
  top: 0;
  left: 12.5px;
  font-size: 15px;
}

/* line 49, synckr.scss */
#nav-middle {
  text-align: center;
}

/* line 53, synckr.scss */
#nav-right {
  position: absolute;
  top: 0;
  right: 12.5px;
  font-size: 15px;
}

/* line 60, synckr.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 65, synckr.scss */
a:hover {
  text-decoration: none;
  color: black;
}

/* line 70, synckr.scss */
#navbar a {
  color: #748089;
}

/* line 73, synckr.scss */
#navbar a:hover {
  color: #748089;
}

/* line 76, synckr.scss */
#nav-left {
  color: #748089;
}

/* line 79, synckr.scss */
#nav-right {
  color: #49a8d8;
}

/* line 17, list.scss */
.out-event {
  min-height: 80px;
  width: 100%;
  border-bottom: 1px dashed #aaa;
  padding: 0 25px;
  background-color: rgba(209, 238, 252, 0.6);
}

/* line 25, list.scss */
.out-event a {
  color: #052d6e;
}

/* line 29, list.scss */
.not-decided {
  background-color: #33465d;
}

/* line 32, list.scss */
.not-voted {
  background-color: #33465d;
}

/* line 36, list.scss */
.event {
  min-height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}

/* line 44, list.scss */
.event-title {
  width: 60%;
}

/* line 48, list.scss */
.event-info {
  position: relative;
  width: 40%;
  line-height: 80px;
  min-height: 80px;
  font-size: 18px;
}

/* line 55, list.scss */
.arrow {
  width: 5%;
  display: none;
}

/* line 59, list.scss */
.arrow-move {
  display: block;
}

/* line 62, list.scss */
.not-decided .arrow, .not-voted .arrow {
  display: block;
}

/* line 65, list.scss */
.not-decided a, .not-voted a {
  color: white;
}

/* line 69, list.scss */
.not-decided, .not-voted {
  border-bottom: 1px dashed #738596;
}

/* line 73, list.scss */
.event-deadline {
  position: absolute;
  left: 0;
  top: 10%;
  height: 40%;
  width: 100%;
  line-height: 40px;
}

/* line 81, list.scss */
.event-people {
  position: absolute;
  left: 0;
  height: 40%;
  width: 100%;
  top: 50%;
  line-height: 40px;
}

/* line 89, list.scss */
.event-people img {
  width: 30px;
  margin: 0 0 0 -5px;
}

/* line 94, list.scss */
#user-info {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  background-color: #2d3f53;
  color: white;
}

/* line 104, list.scss */
#user-pic {
  width: 14%;
  float: left;
}

/* line 108, list.scss */
#user-name {
  width: 86%;
  float: left;
}

/* line 113, list.scss */
.cancel-icon {
  display: none;
}

/* line 118, list.scss */
.cancel-icon-move {
  margin: 0 25px 0 0;
  display: block;
  width: 5%;
  float: left;
  height: 80px;
  padding-top: 30px;
}

/* line 127, list.scss */
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 134, list.scss */
#list {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 40px;
  bottom: 30px;
  width: 100%;
}

/* line 143, list.scss */
#nav-right {
  height: 100%;
  font-size: 18px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}

/* line 150, list.scss */
.decide, .deadline, .pending, .done {
  border-radius: 5px;
  padding: 5px;
  color: white;
}

/* line 156, list.scss */
.decide {
  background-color: #a34730;
}

/* line 160, list.scss */
.deadline {
  background-color: #f2992e;
}

/* line 164, list.scss */
.pending {
  background-color: #55bc8a;
}

/* line 168, list.scss */
.done {
  background-color: #55bc8a;
}
