/* line 13, synckr.scss */
#placeholder {
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 23, synckr.scss */
#navbar {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  background-color: #2d3f53;
  color: white;
}

/* line 35, synckr.scss */
#nav-left {
  position: absolute;
  top: 0;
  left: 12.5px;
  font-size: 15px;
}

/* line 42, synckr.scss */
#nav-middle {
  text-align: center;
}

/* line 46, synckr.scss */
#nav-right {
  position: absolute;
  top: 0;
  right: 12.5px;
  font-size: 15px;
}

/* line 53, synckr.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 58, synckr.scss */
a:hover {
  text-decoration: none;
  color: black;
}

/* line 63, synckr.scss */
#navbar a {
  color: white;
}

/* line 66, synckr.scss */
#navbar a:hover {
  color: white;
}

/* line 14, list.scss */
.out-event {
  min-height: 80px;
  width: 100%;
  border-bottom: 1px solid #aaa;
  padding: 0 25px;
  background-color: rgba(209, 238, 252, 0.6);
}

/* line 22, list.scss */
.out-event a {
  color: #052d6e;
}

/* line 26, list.scss */
.not-decided {
  background-color: #33465d;
}

/* line 29, list.scss */
.not-voted {
  background-color: #33465d;
}

/* line 33, list.scss */
.event {
  min-height: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
}

/* line 41, list.scss */
.event-title {
  width: 65%;
}

/* line 45, list.scss */
.event-info {
  position: relative;
  width: 35%;
  line-height: 80px;
  min-height: 80px;
  font-size: 18px;
}

/* line 52, list.scss */
.arrow {
  width: 5%;
  display: none;
  margin-left: 10px;
}

/* line 57, list.scss */
.arrow-move {
  display: block;
}

/* line 60, list.scss */
.not-decided .arrow, .not-voted .arrow {
  display: block;
}

/* line 63, list.scss */
.not-decided a, .not-voted a {
  color: white;
}

/* line 67, list.scss */
.not-decided, .not-voted {
  border-bottom: 1px solid #738596;
}

/* line 71, list.scss */
.event-deadline {
  position: absolute;
  left: 0;
  height: 50%;
  width: 100%;
  line-height: 40px;
}

/* line 78, list.scss */
.event-people {
  position: absolute;
  left: 0;
  height: 50%;
  width: 100%;
  top: 50%;
  line-height: 40px;
}

/* line 86, list.scss */
.event-people img {
  width: 30px;
  margin: 0 0 0 -5px;
}

/* line 90, list.scss */
#nav-right {
  font-size: 30px;
  font-weight: 200;
  line-height: 30px;
}

/* line 96, list.scss */
#user-info {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  background-color: #2d3f53;
  color: white;
}

/* line 106, list.scss */
#user-pic {
  width: 14%;
  float: left;
}

/* line 110, list.scss */
#user-name {
  width: 86%;
  float: left;
}

/* line 115, list.scss */
.cancel-icon {
  display: none;
}

/* line 120, list.scss */
.cancel-icon-move {
  margin: 0 25px 0 0;
  display: block;
  width: 5%;
  float: left;
  height: 80px;
  padding-top: 30px;
}

/* line 129, list.scss */
#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 136, list.scss */
#list {
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 40px;
  bottom: 30px;
  width: 100%;
}
