@import "compass/css3/box";
@import "synckr.scss";

.event {
	min-height: 60px;
	@include display-box;
	@include box-align(center);
	border-bottom: 1px solid #aaa;
	padding: 0 $left-right-margin;
}

// a:last-child .event {
// 	border-bottom: 1px solid $line-color;
// }
