/* line 20, synckr.scss */
#placeholder {
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 30, synckr.scss */
#navbar {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  background-color: #2d3f53;
  color: white;
}

/* line 42, synckr.scss */
#nav-left {
  position: absolute;
  top: 0;
  left: 12.5px;
  font-size: 15px;
}

/* line 49, synckr.scss */
#nav-middle {
  text-align: center;
}

/* line 53, synckr.scss */
#nav-right {
  position: absolute;
  top: 0;
  right: 12.5px;
  font-size: 15px;
}

/* line 60, synckr.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 65, synckr.scss */
a:hover {
  text-decoration: none;
  color: black;
}

/* line 70, synckr.scss */
#navbar a {
  color: #748089;
}

/* line 73, synckr.scss */
#navbar a:hover {
  color: #748089;
}

/* line 76, synckr.scss */
#nav-left {
  color: #748089;
}

/* line 79, synckr.scss */
#nav-right {
  color: #49a8d8;
}

/* line 5, new-dark.scss */
.field {
  padding: 0 25px;
  margin: 30px 0;
}

/* line 11, new-dark.scss */
.field input {
  width: 100%;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #aaaaaa;
}

/* line 18, new-dark.scss */
input, select {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  border-radius: 0;
  padding: 0;
}

/* line 25, new-dark.scss */
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 29, new-dark.scss */
.dur {
  float: left;
  width: 33.3%;
}

/* line 34, new-dark.scss */
#duration-min, #duration-hr {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  direction: rtl;
}

/* line 43, new-dark.scss */
#duration {
  border-bottom: 1px solid #aaaaaa;
  height: 30px;
}

/* line 48, new-dark.scss */
.dates {
  color: #a9a9a9;
  float: left;
  width: 50%;
}

/* line 54, new-dark.scss */
#startdate, #enddate, #deadlinedate {
  position: relative;
  border-bottom: 1px solid #aaaaaa;
  height: 30px;
  margin: 10px 0;
}

/* line 61, new-dark.scss */
#st-date, #en-date, #de-date {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0px;
  text-align: right;
  background-color: transparent;
}

/* line 71, new-dark.scss */
#friendList {
  float: left;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

/* line 83, new-dark.scss */
#search-bar input {
  width: 90%;
  margin: 10px 5%;
}

/* line 88, new-dark.scss */
.friends {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #aaa;
  padding: 0 25px;
  margin-top: 10px;
}

/* line 96, new-dark.scss */
.friend-intro {
  float: left;
  height: 30px;
}

/* line 101, new-dark.scss */
.friend-check {
  width: 10%;
}

/* line 105, new-dark.scss */
.friend-pic {
  width: 15%;
}

/* line 109, new-dark.scss */
.friend-name {
  width: 75%;
}

/* line 113, new-dark.scss */
.invitees {
  width: 100%;
  height: 100%;
}

/* line 118, new-dark.scss */
.invitees img {
  margin: 10px;
}
