/* line 7, synckr.scss */
#placeholder {
  width: 100%;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

/* line 14, synckr.scss */
#navbar {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  font-weight: normal;
  border-bottom: 1px solid #aaaaaa;
}

/* line 21, synckr.scss */
#nav-left {
  position: absolute;
  top: 0;
  left: 30px;
}

/* line 27, synckr.scss */
#nav-middle {
  text-align: center;
}

/* line 31, synckr.scss */
#nav-right {
  position: absolute;
  top: 0;
  right: 30px;
}

/* line 37, synckr.scss */
a {
  text-decoration: none;
}

/* line 7, new.scss */
.field {
  padding: 0 30px;
  margin: 30px 0;
}

/* line 13, new.scss */
.field input {
  width: 100%;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #aaaaaa;
}

/* line 20, new.scss */
input, select {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

/* line 24, new.scss */
.dur {
  float: left;
  width: 33.3%;
}

/* line 29, new.scss */
#duration-min, #duration-hr {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  direction: rtl;
}

/* line 39, new.scss */
#duration {
  border-bottom: 1px solid #aaaaaa;
  height: 5%;
}
