/* line 7, synckr.scss */
#placeholder {
  width: 100%;
  font-size: 25px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

/* line 14, synckr.scss */
#navbar {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

/* line 19, synckr.scss */
#nav-left {
  position: absolute;
  top: 0;
  left: 30px;
}

/* line 25, synckr.scss */
#nav-middle {
  text-align: center;
}

/* line 29, synckr.scss */
#nav-right {
  position: absolute;
  top: 0;
  right: 30px;
}
