@import "compass/utilities/general/clearfix";

$line-color: #aaa;

$left-right-margin: 30px;

#placeholder {
	width: 100%;
	font-size: 25px;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: lighter;
}

#navbar {
	position: relative;
	@include clearfix;
}

#nav-left {
	position: absolute;
	top: 0;
	left: $left-right-margin;
}

#nav-middle {
	text-align: center;
}

#nav-right {
	position: absolute;
	top: 0;
	right: $left-right-margin;
}