/* line 10, synckr.scss */
#placeholder {
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 20, synckr.scss */
#navbar {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  font-weight: normal;
  border-bottom: 1px solid #aaaaaa;
  height: 40px;
  line-height: 40px;
}

/* line 29, synckr.scss */
#nav-left {
  position: absolute;
  top: 0;
  left: 12.5px;
  font-size: 15px;
}

/* line 36, synckr.scss */
#nav-middle {
  text-align: center;
}

/* line 40, synckr.scss */
#nav-right {
  position: absolute;
  top: 0;
  right: 12.5px;
  font-size: 15px;
}

/* line 47, synckr.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 52, synckr.scss */
a:hover {
  text-decoration: none;
  color: black;
}
