@import "compass/utilities/general/clearfix";

$line-color: #aaa;

$left-right-margin: 30px;

#placeholder {
	position:absolute;
	width: 100%;
	font-size: 20px;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: lighter;
}

#navbar {
	position: relative;
	@include clearfix;
	font-weight: normal;
	border-bottom: 1px solid $line-color;
}

#nav-left {
	position: absolute;
	top: 0;
	left: $left-right-margin;
}

#nav-middle {
	text-align: center;
}

#nav-right {
	position: absolute;
	top: 0;
	right: $left-right-margin;
}

a {
	text-decoration: none;
}