/* line 5, synckr.scss */
#placeholder {
  width: 100%;
  font-size: 25px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

/* line 12, synckr.scss */
#navbar {
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

/* line 17, synckr.scss */
#edit {
  position: absolute;
  top: 0;
  left: 30px;
}

/* line 23, synckr.scss */
#title {
  text-align: center;
}

/* line 27, synckr.scss */
#create {
  position: absolute;
  top: 0;
  right: 30px;
}
